__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/
.venv
.cache
.dummy

*.swp

tmp/

# ignore local packages
*.egg-info/

# ignore intermediate files
var/

# ignore updated specification files
specification/

# ignore generated dataset files
collection/
pipeline/
dataset/
issues/
expectations/
column-field/
performance/
converted-resource/

# ignore databases
*.db
*.sqlite3
